<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/3a56c9fe8b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
</head>
<body class="home">
    <header class="home__header">
        <div class="home__header--box">
            <img src="/img/logo.png" alt="logo">
        
        <nav class="home__header__nav--menu">
            <ul>
                <li><a href="">smartphone</a></li>
                <li><a href="">tablets</a></li>
                <li><a href="">computadoras</a></li>
            </ul>
        </nav>
        </div>
        <nav class="home__header__nav--login">
            <ul>
                <li><a href="">login</a></li>
                <li><a href="">resgistro</a></li>
            </ul>
        </nav>
        <a href="" class="home__header--bars"><i class="fa fa-bars fa-lg"></i></a>
    </header>
    <main class="home__main">
        <div class="home__main__section--products">
            <article class="home__main__section--article">
                <div class="home__main__section--article-img">
                    <img src="/img/img-phone-01.jpg" alt="telefono">
                </div>
                    <h4 class="home__main__section--article-title">Nombre del producto</h4>
                    <p class="home__main__section--article-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium quos consequuntur beatae fugiat corrupti nesciunt.</p>
                    <a class="home__main__section--article-more" href="">Ver mas</a>
            </article>
            <article class="home__main__section--article">
                <div class="home__main__section--article-img">
                    <img src="/img/img-phone-02.jpg" alt="telefono">
                </div>
                    <h4 class="home__main__section--article-title">Nombre del producto</h4>
                    <p class="home__main__section--article-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium quos consequuntur beatae fugiat corrupti nesciunt.</p>
                    <a class="home__main__section--article-more" href="">Ver mas</a>
            </article>
            <article class="home__main__section--article">
                <div class="home__main__section--article-img">
                    <img src="/img/img-phone-03.jpg" alt="telefono">
                </div>
                    <h4 class="home__main__section--article-title">Nombre del producto</h4>
                    <p class="home__main__section--article-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium quos consequuntur beatae fugiat corrupti nesciunt.</p>
                    <a class="home__main__section--article-more" href="">Ver mas</a>
            </article>
            <article class="home__main__section--article">
                <div class="home__main__section--article-img">
                    <img src="/img/img-phone-01.jpg" alt="telefono">
                </div>
                    <h4 class="home__main__section--article-title">Nombre del producto</h4>
                    <p class="home__main__section--article-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium quos consequuntur beatae fugiat corrupti nesciunt.</p>
                    <a class="home__main__section--article-more" href="">Ver mas</a>
            </article>
            <article class="home__main__section--article">
                <div class="home__main__section--article-img">
                    <img src="/img/img-phone-02.jpg" alt="telefono">
                </div>
                    <h4 class="home__main__section--article-title">Nombre del producto</h4>
                    <p class="home__main__section--article-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium quos consequuntur beatae fugiat corrupti nesciunt.</p>
                    <a class="home__main__section--article-more" href="">Ver mas</a>
            </article>
            <article class="home__main__section--article">
                <div class="home__main__section--article-img">
                    <img src="/img/img-phone-03.jpg" alt="telefono">
                </div>
                    <h4 class="home__main__section--article-title">Nombre del producto</h4>
                    <p class="home__main__section--article-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium quos consequuntur beatae fugiat corrupti nesciunt.</p>
                    <a class="home__main__section--article-more" href="">Ver mas</a>
            </article>        
        </div>
        <div class="home__main__section--asides">
            <aside class="home__main__section--asides-box">
                <h2>Tutoriales</h2>
                <div class="home__main__section--tutoriales">
                    <article class="home__main__article--tutorial">
                        <img src="/img/aside-01.jpg" alt="aside">
                        <h5> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto, quae.</h5>
                    </article>
                    <article class="home__main__article--tutorial">
                        <img src="/img/aside-02.jpg" alt="aside">
                        <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto, quae.</h5>
                    </article>
                    <article class="home__main__article--tutorial">
                        <img src="/img/aside-03.jpg" alt="aside">
                        <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto, quae.</h5>
                    </article>
                    <article class="home__main__article--tutorial">
                        <img src="/img/aside-04.jpg" alt="aside">
                        <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto, quae.</h5>
                    </article>
                </div>
            </aside>
            <aside class="home__main__section--asides-box">
                <h2>Publicidad</h2>
                <div class="home__main__article--publicidad">
                    <img src="/img/anuncio-1.jpg" alt="">
                    <img src="/img/anuncio-2.jpg" alt="">
                </div>
            </aside>
        </div>
    </main>
    <footer class="home__footer">
        <div class="home__footer--box">
            <a href=""><img src="/img/logo.png" alt="logo"></a>
        </div>
        <ul>
            <li><a href="">Contacto</a></li>
            <li><a href="">Redes</a></li>
        </ul>
    </footer>
</body>
</html>